body {
    background-color: #E0FFFF;
    color: navy;
    font-family: Garamond, serif;

}

p{
    color: #000080;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
}

h3{
    background-color: blue;
    color: white;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
}

address{
    font-size: 110%;
}

blockquote{
    text-transform: uppercase;
    text-align: center;
}
